@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

body{
    background-color: #1c1818;
}


nav {
    display: flex;
    justify-content: space-around;
    color: black;
    background-color: rgb(217, 252, 255);
    text-decoration: none;
    height: 3.5rem;
}


button{
    background-color: rgb(57, 57, 235);
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    cursor: crosshair;
    border: none;
}

.start{
    color: white;
}

a{
    text-decoration: none;
    font-size: 14px;
    color: black;
    cursor: pointer;
    margin-top: 0.3rem;
}

nav .menu1{
    display: flex;
    margin-right: 47em;
    gap: 23px;
    text-decoration: none;
}

.menu1 img{
    margin-top: 0.5rem;
}
 
nav .menu2{
    display: flex;
    gap: 10px;
    margin-left: 0.1rem;
}

.menu2 img{
    margin-top: 0.4rem;
}


h1{
    color: white;
    font-size: 34px;
    text-align: center;
    margin-top: 3rem;
}

h5{
    color: white;
    font-size: 14px;
    text-align: center;
    margin-top: 2rem;
    font-weight: lighter;
}

h3{
    font-weight: bold;
}


button .plan{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem auto;
    background-color: rgba(15, 109, 163, 0.966);
}

.plan{
    display: flex;
    padding: 2rem;
    color: black;
    border: none;
    gap: 2rem;
    text-align: center;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    
}


.arrow{
    margin-left: 0.5rem;
}


.video{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 390px) {
    nav .menu1{
        display: none;
        font-size: 20px;
    }
    nav .menu{
        display: flex;
        font-size: 30px;
    }
    section{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}