/* TaskList.css */

.task-list {
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .task-list h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .task-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .task-list li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .task-list input[type="text"] {
    width: 70%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 1rem;
  }
  
  .task-list button {
    padding: 5px 10px;
    background-color: #ff00ea;
    border-radius: 1rem;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 5px;
  }
  
  .task-list button:hover {
    background-color: #0056b3;
  }
  